body {
    background-color:rgb(25, 25, 27);
    color: azure;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 0px;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

nav{
    height: auto;
    border-radius: 2rem;
    display: inline-block;
}

nav ul li {
    list-style-type: none;
    margin-left: 5px;
    padding: 5px;
    align-self: right;
    float: right;
}

nav ul li:hover {
    background-color: azure;
    color: rgb(25, 25, 27);
    border-radius: 1rem;
}

a {
    text-decoration: none;
    color: azure;
}

.gallery{
    display: flex;
    height: 30rem;
    background-color: azure;
    transition: height 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.gallery:hover{
    height: 40rem;
}

.gallery div{
    flex:1;
    border-radius: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .9s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.gallery div:hover{
    flex: 3;
}

section{
    height: 100vh;
    scroll-snap-align: start;
}